<form  #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

  <input type="hidden" name = "Id" [value] = "service.formData.Id">
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name ="nombre" #nombre ="ngModel" [(ngModel)] = "service.formData.nombre"  class ="form-control" placeholder="Nombre" Required>
      </div>    
  </div>
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name = "apellido" #apellido ="ngModel" [(ngModel)] = "service.formData.apellido"   class = "form-control" placeholder="Apellido" Required>
      </div>    
  </div>

  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name = "edad" #edad ="ngModel" [(ngModel)] = "service.formData.edad" type = "number" class = "form-control"  placeholder="Edad">
      </div>    
  </div>
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fa-envelope-open-text"></i>
          </div>
        </div>
        <input name = "correo" #correo ="ngModel" [(ngModel)] = "service.formData.correo" class = "form-control"  placeholder="Correo Electronico" Required>
      </div>
      </div>    
    
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fa-phone"></i>
          </div>
        </div>
        <input name = "telefono" #telefono ="ngModel" [(ngModel)] = "service.formData.telefono" class = "form-control" placeholder="Telefono" >
      </div> 
     </div>  
        <input name = "idsecciones" type = "hidden" #telefono ="ngModel" [(ngModel)] = "service.formData.idsecciones" class = "form-control" placeholder="Telefono" >
        
  <div class="form-group">
      <button class = "btn btn-success btn-lg btn-block" type ="submit"><i class="fas fa-database"></i> Crear o Modificar</button>
  </div>
</form>
  