<form  autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name = "Id">
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name ="nombre" class ="form-control" placeholder="Nombre" Required>
      </div>    
  </div>
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name = "apellido"   class = "form-control" placeholder="Apellido" Required>
      </div>    
  </div>

  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name = "edad"  type = "number" class = "form-control"  placeholder="Edad">
      </div>    
  </div>
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fa-envelope-open-text"></i>
          </div>
        </div>
        <input name = "correo" class = "form-control"  placeholder="Correo Electronico" Required>
      </div>
      </div>    
    
  
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fa-phone"></i>
          </div>
        </div>
        <input name = "telefono" class = "form-control" placeholder="Telefono" >
      </div> 
     </div>  
     
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fa-puzzle-piece"></i>
          </div>
        </div>
        <select name="seccionesId" class = "form-control">
          <option value="0">Seccion de ingles</option>
          <option value="1">Seccion 1</option>
          <option value="2">Seccion 2</option>
          <option value="3">Seccion 3</option>
        </select>         
      </div>    
  </div>
  <div class="form-group">
      <button class = "btn btn-success btn-lg btn-block" type ="submit"><i class="fas fa-database"></i> Crear o Modificar</button>
  </div>
</form>
  