<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name = "Id" [value] = "cservice.formData.Id">
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="far fa-user"></i>
          </div>
        </div>
        <input name ="nombre" #nombre ="ngModel" [(ngModel)] = "cservice.formData.nombre" class ="form-control" placeholder="Nombre de curso" Required>
      </div>    
  </div>

  <div class="form-group">
      <button class = "btn btn-success btn-lg btn-block" type ="submit"><i class="fas fa-database"></i> Crear o Modificar</button>
  </div>
</form>
