<table class="table table-hover">

    <tr>
        <td><strong>Nombre</strong></td>
        <td><strong>Apellido</strong></td>
        <td><strong>Edad</strong></td>
        <td><strong>Correo</strong></td>
        <td><strong>Telefono</strong></td>
        
        
    </tr>


<tr *ngFor="let pd of service.list">
    
    <td (click)="SeleccionaRegistro(pd)">{{pd.nombre}}</td>
    <td (click)="SeleccionaRegistro(pd)">{{pd.apellido}}</td>
    <td (click)="SeleccionaRegistro(pd)">{{pd.edad}}</td>
    <td (click)="SeleccionaRegistro(pd)">{{pd.correo}}</td>
    <td (click)="SeleccionaRegistro(pd)">{{pd.telefono}}</td>
    <td><i class="far fa-trash-alt fa-lg text" (click) = "onDelete(pd.Id)"></i></td>


</tr>

</table>
